.wp-block-firsttheme-blocks-team-members {
	display: block;
	margin-left: 0;
	margin-right: 0;

	.wp-block-firsttheme-blocks-team-member {
		margin: 0;
		width: auto !important;
	}

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			.block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				margin-left: -10px;
				margin-right: -10px;

				& > .block-editor-block-list__block {
					width: calc(100% / #{$i} - 20px);
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
}
